* {
    margin: 0;
    padding: 0;
    cursor: default;
}

html, body {
    height: 100%;
}

body {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    vertical-align: center;
    flex-wrap: wrap;
    align-content: center;

    color: #2a2b2c;
    background: linear-gradient(180deg, #658FFF 0%, #3670FF 100%);
    overflow: hidden;
}

.card {
    width: 830px;
    height: 420px;
    background: #231D34;
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.22);
    border-radius: 44px;
    border-width: 0;
    overflow: hidden;
}

.card-body {
    padding: 0;
    z-index: 1;
}

.card .big_title {
    width: 409px;
    height: 36px;
    font-size: 36px;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, "Helvetica Neue", Arial, sans-serif;;
    font-weight: normal;
    color: #FFFFFF;
    line-height: 40px;
    margin: 62px 0 0 100px;
}

.dot1 {
    position: absolute;
    display: block;
    left: 65px;
    top: 87px;
    width: 132px;
    height: 21px;
    background: #765CF2;
    border-radius: 11px;
    z-index: 1;
}

.dot2 {
    position: absolute;
    display: block;
    top: 345px;
    left: 500px;
    width: 378px;
    height: 378px;
    background: linear-gradient(180deg, #F6327F 0%, #F9796D 100%);
    z-index: 1;
    border-radius: 200px;

}

.dot3 {
    position: absolute;
    display: block;
    top: 317px;
    left: 590px;
    width: 378px;
    height: 378px;
    background: linear-gradient(180deg, #FFEA00 0%, #FFD100 100%);
    /*border-radius: 11px;*/
    z-index: 1;
    border-radius: 200px;
}

.card-title {
    display: block;
    font-size: 28px;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, "Helvetica Neue", Arial, sans-serif;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 34px;
    margin: 53px 0 0 71px;
}

.form {
    width: 100%;
    height: 70px;
    display: block;
    position: absolute;
    margin-top: 13px;
}

.form-control {
    position: absolute;
    cursor: auto;
    width: 700px;
    height: 60px;
    background: #FFFFFF;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    margin-left: 65px;
    border-width: 0;
    margin-top: 5px;
}

.btn-cus {
    position: absolute;
    width: 177px;
    height: 70px;
    background: #644DEF;
    box-shadow: 0 2px 10px 0 #0E0061;
    border-width: 0;
    border-radius: 40px;
    color: #FFFFFF;
    font-size: 28px;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, "Helvetica Neue", Arial, sans-serif;;
    font-weight: 600;
    line-height: 34px;
    right: 65px;
}

.card-text {
    position: absolute;
    width: 100%;
    bottom: 20px;
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
    color: #3F76FF;
}

.card-text > a {
    text-decoration: none;
    color: #3F76FF;
}

.card-text > a {
    cursor: pointer;
}

@media (max-width: 769px) {
    .card {
        width: 80%;
    }
}

@media (max-width: 420px) {
    .card {
        width: 95%;
    }
}
